{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <h1></i>THE<span><br></span>KENYAN DISPATCH</h1>
    <p id="p">Your Leading Source of News in Kenya on the Go</p>

            <section>
                <h2 style="color: white">OUR TRUSTED NEWS SOURCES</h2>
                <div>  
                    {{macro.showSources(the_source)}}
                </div>
            </section>
            <main>
                <div class="body">
                    {{macro.displayArticles(the_article)}}
                </div>
                
            </main>
            
        
  
</div>

{% endblock%}