{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% block content %}


    <h3>NEWS ARTICLES</h3>
    <div class="container">
        {{macro.displayArticles(the_article)}}
    </div>
    <!-- <ul>
        {{ macro.displayArticles(author) }}
    </ul>
    <ul>
        {{ macro.displayArticles(title) }}
    </ul>
    <ul>
        {{ macro.displayArticles(description) }}
    </ul>
    <h3>NEWS SOURCES</h3>
    <ul>{{ macro.showSources(name)}}</ul>
    <ul>{{ macro.showSources(language)}}</ul>
    <ul>{{ macro.showSources(url)}}</ul>
     -->
    
    
{% endblock%}