{% macro displayArticles(the_article) %}

{% for article_item in the_article %}
<div class="card" style="width: 20rem">
    <img src="{{article_item.urlToImage}}" class="card-img-top" alt="article image">
    <div class="card-body">
        <h3>{{article_item.title}} by {{article_item.author}}</h3>
        <p>{{article_item.description}}</p><br>
        <a href="{{article_item.url}}" class="btn btn-primary">Read Article</a>
        <div class="card-footer">
            <small class="text-muted">Published on {{article_item.publishedAt}}</small>
        </div>
    </div>
</div>
{% endfor %}
{% endmacro %}

{% macro showSources(source_list) %}
{% for source in source_list %}
<li>{{source.name}}</li>
<li>{{source.url}}</li>
<li>{{source.language}}</li>
{% endfor %}
{% endmacro %}